* {
    padding: 0;
    margin: 0;
    border: 0;
    max-width: 100vw;
    max-height: 100vh;
  }

  #home {
    overflow: hidden;
  }

#outie {
    cursor: url("/public/images/fruit.png"), default;
    background-color: #E7E7E7;
}

#innie {
  background-color: #1D1A05;
  margin: 0;
  height: 100%;
  overflow: hidden
}

.disable-clicks {
  pointer-events: none;
}

/* 
COLORS:
Background: #E7E7E7
Green: #6AB474
Off-black: #1D1A05
Blue: #0C6291
Red: #A50104
*/

@font-face { font-family: Coffee; src: url('fonts/coffee-please-font/CoffeePlease-nR3M0.ttf'); } 
@font-face { font-family: Italiana; src: url('fonts/Italiana-Regular.ttf'); } 
@font-face { font-family: Nanum; src: url('fonts/Nanum_Gothic/NanumGothic-Regular.ttf'); } 
@font-face { font-family: Playfair; src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'); } 
@font-face { font-family: Raleway; src: url('fonts/raleway/Raleway[wght].ttf'); }
@font-face { font-family: Gambarino; src: url('fonts/Gambarino_Complete/Fonts/WEB/fonts/Gambarino-Regular.ttf'); }
@font-face { font-family: Pacquito; src: url('fonts/Paquito_Complete/Fonts/WEB/fonts/Paquito-Regular.ttf'); }
@font-face { font-family: Rosaline; src: url('fonts/Rosaline_Complete/Fonts/WEB/fonts/Rosaline-Regular.ttf'); }

/* initial page */

#hello {
    width: 75vw;
    height: 12vh;
    max-height: 12vh;
    opacity: 1;
    transition: opacity 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 15%;
  }
  
  #hello.fade-out {
    opacity: 0;
  }

  #world {
    flex-shrink: 0;
    width: auto;
  }

  #mitosis {
    height: 80vh;
    width: 80vw;
    margin: 10vh 10vw;
    opacity: 0;
    display: none 2s;
    transition: display 2s;
    align-items: center;
    justify-content: center;
  }

  .split {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .woman {
    max-height: 70vh;
    width: auto;
    pointer-events: none;
  }

  .woman a:hover {
    cursor: default;
  }

  #left-woman {
    margin-left: 40vw;
    float: left;
    transition: ease 3s;
  }

  #right-woman {
    margin-right: 40vw;
    float: right;
    transition: ease 3s;
  }

  #learn {
    opacity: 0;
    font-style: bold;
    font-family: 'Raleway';
    font-stretch: expanded;
    font-size: 5vh;
    text-align: center;
    margin-top: 5vh;
    display: none 2s;
    transition: display 5s;
  }

  .sever {
    font-family: monospace;
    text-align: center;
    margin-top: 5px;
  }

/* first page end */

/* outie page */

    .page {
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        max-height: 100vh;
    }

    .main {
        display: flex;
  }

  .arc {
    height: 80vh;
    width: 60vw;
    max-width: 60vw;
    max-height: 80vh;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-top: 10vh;
    background-color: #A50104;
    /* background-image: url("/public/images/title-bg.png"); */
  }
  
  .main-header {
    color: #FFFCE3;
    font-family: 'Coffee';
    font-size: 60px;
    width: 40vw;
    display: flex;
    padding-left: 5vw;
    padding-top: 10vh;
    letter-spacing: 3px;
    background-color: transparent;
  }
  
  #intro {
    color: #FFFCE3;
    font-family: 'Raleway';
    display: flex;
    margin: 2vh 5vw;
    font-size: 18px;
    line-height: 205%;
    height: 32vh;
    max-height: 32vh;
    padding-bottom: 5%;
    padding-right: 10%;
    overflow-y: hidden;
    background-color: transparent;
  }

  #intro:hover {
    overflow-y: auto;
  }
  
  #me {
    height: 70vh;
    width: auto;
    margin: 12vh 10vw;
    transition: transform .2s ease-in-out;
    border: 2px dotted #A50104;
    border-radius: 50%;
  }

  #second {
    display: grid;
    padding-top: 10%;
  }

   /* slider */

  #centering {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .slider {
    margin: auto;
    width: 100%;
    max-width: 60vw;
    height: 70vh;
    position: relative;
    border-radius: 45px;
    overflow: hidden;
    border: 8px double #A50104;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .slider::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  .slide {
    width: 100%;
    max-width: 430vw;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    background-color: #A50104;
    font-family: 'Italiana';
    color: #585555;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    align-items: center;
  } 
  
  .slide p {
    margin: auto;
    width: 65%;
    background-color: transparent;
    color: white;
    overflow: auto;
  }

  #nextkbd {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5vh;
  }
  #left{
    float:left;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #6AB474;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }
  
  .img-party {
    border-radius: 10px;
    border: solid 3px #E7E7E7;
    overflow: hidden;
    margin-top: 5%;
  }
  
  .img-party:hover {
    transform:scale(1.5);
  }

 /* contact via email  */

 #talking {
  padding-top: 15vh;
 }


 #third h1 {
    color: #A50104;
    font-family: 'Rosaline';
    padding-left: 2vw;
 }

#contactText {
    width: 90vw;
    height: 50vh;
    display: block;
    text-align: center;
    margin-inline: auto;
  }
  
  .contacting {
    border-radius: 3px;
    width: 40vw;
    box-shadow: #999999;
    margin: 5px;
    line-height: 25px;
    padding-left: 10px;
    font-family: 'Nanum';
    letter-spacing: 5px;
    border: 1px solid #A50104;
  }
  
  #emailbox { 
    height: 50vh;
  }
  
  #submitBtn {
    background-image: url("/public/images/title-bg.png");
    background-size: cover;
    border: #ffffff;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: wavy;
    display: inline-block;
    font-size: 15px;
    border-radius: 30px;
    font-family: 'Raleway';
  }
  
  #submitBtn:hover {
    cursor: pointer;
  }
  

  .footer {
    display: flex;
    /* justify-content: right;
    align-items: right;
    padding-right: 30px;
    margin-right: auto; */
  }

  .footbar {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    display: inline-block;
  }

  #elevator {
    height: auto;
    width: 100px;
  }

  img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

/* end of outie page */

/* ------------------------------------------------------------------------------- */


/* innie page */
/* 
  .tete {
    display: inline;
    position: fixed;
    top: 0;
  } */

  .header {
    background-color: transparent;
    overflow: hidden;
    display: block;
    line-height: 80px;
    border: 3px solid #41bdff;
    margin: 10px 70px;
  }

  .header > #sabrina {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 250%;
    letter-spacing: 3px;
    color: #41bdff;
    margin-left: 1.5vw;
    float: left;
  }

  .header > #sabrina a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

  .header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    background-color: #1D1A05;
    color: #1D1A05;
    text-shadow: -1px -1px 0 #41bdff, 1px -1px 0 #41bdff, -1px 1px 0 #41bdff, 1px 1px 0 #41bdff;
    float: right;
  }

  #globe {
    height: auto;
    width: 80px;
    margin: 0 1.5vw;
    float: right;
  }

  .horizontalbar {
    background-color: #41bdff;
    width: 100vw;
    max-width: 100vw;
    height: .5vh;
  }

  .between {
    background-color: #1D1A05;
    width: 100vw;
    max-width: 100vw;
    height: .3vh;
  }

  #centered {
    display: flex;
    height: 75vh;
    width: 100vw;
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: #1D1A05;
    width: 100vw;
    max-width: 100vw;
    height: inherit;
    max-height: 100%;
    justify-self: auto;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }

  .grid > div {
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #41bdff;
    animation: start 6s;
    animation-iteration-count: infinite;
  }

  .grid > div:hover { 
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes start {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(0px, -2px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg) ; }
    80% { transform: translate(-1px, 0px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg) scale(2); }
    10% { transform: translate(-1px, -2px) rotate(-1deg) scale(2); }
    20% { transform: translate(-3px, 0px) rotate(1deg) scale(2); }
    30% { transform: translate(3px, 2px) rotate(0deg) scale(2); }
    40% { transform: translate(1px, -1px) rotate(1deg) scale(2); }
    50% { transform: translate(-1px, 2px) rotate(-1deg) scale(2); }
    60% { transform: translate(-3px, 1px) rotate(0deg) scale(2); }
    70% { transform: translate(3px, 1px) rotate(-1deg) scale(2); }
    80% { transform: translate(-1px, -1px) rotate(1deg) scale(2); }
    90% { transform: translate(1px, 2px) rotate(0deg) scale(2); }
    100% { transform: translate(1px, -2px) rotate(-1deg) scale(2); }
  }

  #foot {
    position: absolute;
    bottom: 0;
  }

  #navbar {
    overflow: hidden;
    background-color: transparent;
    /* background-size: cover; */
    display: flex;
    height: 40px;
    max-height: 40px;
    z-index: 3;
    padding: 5px;
    margin-bottom: .5vh;
    justify-content: space-evenly;
  }
  
  #navbar a:link, #navbar a:visited, #navbar a:hover, #navbar a:active {color: #41bdff; text-decoration: none;}

  
  .button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 12px;
    color: #41bdff;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    position: relative;
    background-color: #1D1A05;
    border: 5px solid #0C6291;
    letter-spacing: 2px;
  }
  
  .button::after,
  .button::before {
    transition: all 0.2s ease-in-out;
  }
  
  .button::before {
    z-index: -1;
    position: absolute;
    content: "";
    left: -2em;
    right: -2em;
    top: -2em;
    bottom: -2em;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
      radial-gradient(circle, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
      /*  */
        radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
      radial-gradient(circle, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, #FFFCE3 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, white 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%, 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
      20% 20%;
    background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
      65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
      64% 70%, 80% 71%;
  }
  
  .button:hover::before {
    background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%,
      100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%,
      100% 100%;
    background-size: 0% 0%;
    transition: background-position 0.5s ease-in-out,
      background-size 0.75s ease-in-out;
  }

  .button .after {
    display: none;
  }
  
  .button:hover .before {
    display: none;
  }
  
  .button:hover .after {
    display: inline;
  }

  /* modals */

/* The Modal (background) */
#linkmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0,0,0, 0.5); /* Black w/ opacity */
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.linkicon {
  height: 100px;
  width: auto;
  margin: auto 2vw;
}

#techmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0,0,0, 0.5); /* Black w/ opacity */
  align-items: center;
  overflow: hidden;
}
#projectmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  overflow: hidden;
}
#certmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  overflow: hidden;
}
#certmodal a {
  color: #1D1A05;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

/* Modal Contents/Boxes */

#link-modal-content {
  background-color: #E7E7E7;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 25vh;
}
#linkcontainer {
  margin: auto 0;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#tech-modal-content {
  background-color: #E7E7E7;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 50vh;
}
#project-modal-content {
  background-color: #E7E7E7;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 50vh;
}
#cert-modal-content {
  background-color: #E7E7E7;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 50%;
}
#certholder {
  height: 80%;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #0C6291;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* project styling */

#projecttitle {
  font-family: 'Coffee';
  letter-spacing: 15px;
  font-size: 60px;
  padding: 5vh;
  color: #0C6291;
  float: left;
}


#project-list-container {
  height: 90%;
  overflow-y: auto;
}

#project-list-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#project-list-container::-webkit-scrollbar-thumb {
  background-color: #41bdff;
  border-radius: 20px;
  border: 2px double #0C6291;
  height: inherit;
} 

.projs {
  color: #1D1A05;
  text-align: left;
  padding-left: 5vw;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.desc {
  color: #1D1A05;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 15px;
  letter-spacing: 2px;
}

.links {
  color: #1D1A05;
  text-align: left;
  padding-left: 5vw;
  font-size: 10px;
  letter-spacing: 4px;
}

.links a:link, .links a:visited, .links a:active { color: #1D1A05; font-style: italic; text-decoration: none;}
.links a:hover {color: white; font-style: italic; text-decoration: line-through;}




/* tech stack */


.area {
  height: auto;
  width: inherit;
  margin: auto;
  border-radius: 25px;
  display: block;
  justify-content: center;
  background-color: #E7E7E7;
  background-size: cover;
}

.grid-container {
  display: inline-grid;
  column-gap: 10vw;
  row-gap: 50px;
  padding: 5%;
  width: inherit;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 1;
  grid-row: 2;
}
.six {
  grid-column: 2;
  grid-row: 2;
}
.seven {
  grid-column: 3;
  grid-row: 2;
}
.eight {
  grid-column: 4;
  grid-row: 2;
}

.techs {
  height: 15vh;
  width: 15vh;
}
.techs:hover {
  opacity: 20%;
  transition: .5s ease;
}

.container {
  position: relative;
  width: inherit;
}

/* .image {
  opacity: 1;
  width: auto;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
} */

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #0C6291;
  border-radius: 16px;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  font-family: 'Nanum';
}








/* end of innie page */