* {
  padding: 0;
  margin: 0;
  border: 0;
  max-width: 100vw;
  max-height: 100vh;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  background-color: #FFFCE3;
  display: block;
  flex-direction: column;
}

@font-face { font-family: Coffee; src: url('fonts/coffee-please-font/CoffeePlease-nR3M0.ttf'); } 
@font-face { font-family: Italiana; src: url('fonts/Italiana-Regular.ttf'); } 
@font-face { font-family: Nanum; src: url('fonts/Nanum_Gothic/NanumGothic-Regular.ttf'); } 
@font-face { font-family: Playfair; src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'); } 
@font-face { font-family: Raleway; src: url('fonts/raleway/Raleway[wght].ttf'); }
@font-face { font-family: Gambarino; src: url('fonts/Gambarino_Complete/Fonts/WEB/fonts/Gambarino-Regular.ttf'); }
@font-face { font-family: Pacquito; src: url('fonts/Paquito_Complete/Fonts/WEB/fonts/Paquito-Regular.ttf'); }
@font-face { font-family: Rosaline; src: url('fonts/Rosaline_Complete/Fonts/WEB/fonts/Rosaline-Regular.ttf'); }

.page {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
}

#first {
  height: 100%;
  color: #FFFCE3;
  max-width: 100vw;
  max-height: 100vh;
}

#second {
  background-color: #FFFCE3;
  height: 100%;
  text-align: center;
  padding-top: 14px;

  max-width: 100vw;
  max-height: 100vh;
}

#third {
  height: 100%;
  background-color: #FFFCE3;
  max-width: 100vw;
  max-height: 100vh;
  border-top: 3vh solid #67583b;
}

#fourth {
  height: 100%;
  background-color: #FFFCE3;
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
}

#fifth {
  height: 100%;
  text-align: center;
  background-image: url("/public/images/mesh-gradient.png");
  background-size: cover;
  padding-top: 2%;
  max-width: 100vw;
  max-height: 100vh;
}

#sixth {
  height: 100%;
  width: 100%;
  padding-top: 5%;
  background-image: url("/public/images/beans.jpg");
  background-size: cover;
  max-width: 100vw;
  max-height: 100vh;
}

#seventh {
  height: 90%;
  width: 100%;
  padding-top: 5%;
  display: block;
  justify-items: center;
  max-width: 100vw;
  max-height: 100vh;
}

/* FIRST PAGE ELEMENTS */

.main {
  display: flex;
}

#navbar {
  overflow: hidden;
  background-image: url("/public/images/mesh-gradient.png");
  background-size: cover;
  display: flex;
  height: 35px;
  max-height: 35px;
  z-index: 3;
  padding: 5px;
  justify-content: space-evenly;
}

#navbar a:link, #navbar a:visited, #navbar a:hover, #navbar a:active {color: #1F642E; text-decoration: none;}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 12px;
  color: #1F642E;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: #FFFCE3;
  box-shadow: rgba(233, 30, 99, 0.5);
  letter-spacing: 2px;
}

button::after,
button::before {
  transition: all 0.2s ease-in-out;
}

button::before {
  z-index: -1;
  position: absolute;
  content: "";
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
    radial-gradient(circle, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
    /*  */
      radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
    radial-gradient(circle, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, #FFFCE3 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%, 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
    20% 20%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
    65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
    64% 70%, 80% 71%;
}

button:hover::before {
  background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%,
    100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%,
    100% 100%;
  background-size: 0% 0%;
  transition: background-position 0.5s ease-in-out,
    background-size 0.75s ease-in-out;
}

.arc {
  height: 80vh;
  width: 60vw;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  margin-top: 10vh;
  background-image: url("/public/images/title-bg.png");
}

.main-header {
  color: #FFFCE3;
  font-family: 'Coffee';
  font-size: 60px;
  display: flex;
  padding-left: 7vw;
  padding-top: 10vh;
  letter-spacing: 3px;
}

#intro {
  color: #FFFCE3;
  font-family: 'Raleway';
  display: flex;
  margin: 2vh 5vw;
  font-size: 16px;
  line-height: 205%;
  height: 50%;
  padding-bottom: 5%;
  padding-right: 10%;
  overflow-y: hidden;
}

#intro:hover {
  color: #FFFCE3;
  font-family: 'Raleway';
  display: flex;
  margin: 2vh 5vw;
  font-size: 16px;
  line-height: 205%;
  height: 50%;
  padding-bottom: 5%;
  padding-right: 10%;
  overflow-y: auto;
}

#intro::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#intro::-webkit-scrollbar-thumb {
  background-color: #fffce3;
  border-radius: 20px;
  border: 2px double #ffbf46;
  height: inherit;
} 

#me {
  height: 80vh;
  width: auto;
  justify-content: center;
  vertical-align: middle;
  padding: 5vw;
  transition: transform .2s ease-in-out;
}

#me:hover {
  transform: rotate(360deg);
}

/* SECOND PAGE ELEMENTS */

.area {
  height: 90vh;
  width: 80vw;
  margin-top: 5vh;
  border-radius: 25px;
  display: block;
  justify-content: center;
  background-image: url("/public/images/pine.jpg");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.rectangle {
  height: 20vh;
  width: 100%;
  background-color: #385275;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#searching {
  display: block;
  justify-content: center;
  height: 90%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.grid-container {
  display: inline-grid;
  column-gap: 170px;
  row-gap: 50px;
  padding: 5%;
  width: 80%;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 4;
  grid-row: 1;
}

.five {
  grid-column: 1;
  grid-row: 2;
}

.six {
  grid-column: 2;
  grid-row: 2;
}

.seven {
  grid-column: 3;
  grid-row: 2;
}

.eight {
  grid-column: 4;
  grid-row: 2;
}

.techs {
  height: 100px;
  width: 100px;
}

.techs:hover {
  opacity: 20%;
  transition: .5s ease;
}

.container {
  position: relative;
  width: inherit;
}

.image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #BA5624;
  border-radius: 16px;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  font-family: 'Nanum';
}


/* THIRD PAGE ELEMENTS */

#holder {
  display: inline-block;
  width: 100%;
}

#vines {
  width: 40%;
  max-height: 90vh;
  float: right;
  margin-top: -2.5vh;
}


#projects {
  font-family: 'Coffee';
  letter-spacing: 15px;
  font-size: 60px;
  padding: 5vh;
  color: #67583b;
  float: left;
}

#felt-menu {
  background-image: url("/public/images/felt.jpeg");
  float: left;
  border-radius: 10px;
  margin-left: 2vw;
  width: 50vw;
  height: 68vh;
  max-height: 75vh;
  border: 5px solid #b09563;
  font-family: 'Raleway';
  overflow-y: auto;
}

#project-menu {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 5vh 0vh 0vw 0vw;
}

#reminder {
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 0vh 0vh 3vh 0vw;
}

#project-list-container {
  overflow-y: auto;
}

#project-list-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#project-list-container::-webkit-scrollbar-thumb {
  background-color: #fffce3;
  border-radius: 20px;
  border: 2px double #ffbf46;
  height: inherit;
} 

.projs {
  color: white;
  text-align: left;
  padding-left: 5vw;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.desc {
  color: white;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 15px;
  letter-spacing: 2px;
}

.links {
  color: white;
  text-align: left;
  padding-left: 5vw;
  font-size: 10px;
  letter-spacing: 4px;
}

.links a:link, .links a:visited, .links a:active { color: white; font-style: italic; text-decoration: none;}
.links a:hover {color: white; font-style: italic; text-decoration: line-through;}


/* FOURTH PAGE ELEMENTS */

#fourth p {
  color: #FFFCE3;
  font-size: x-large;
  text-transform: capitalize;
}

#cert-holder {
  background-image: radial-gradient(rgb(66, 126, 74) 0.5px, #563b2c 0.5px);
  border-radius: 15px;
  background-size: 10px 10px;
  height: 90%;
  width: 90%;
  overflow: hidden;
  font-size: 25px;
  font-family: Rosaline;
  color: #FFFCE3;
  margin-inline: auto;
}

#cert-holder a {
  color: #FFFCE3;
  display: block;
  font-family: Italiana;
  font-size: 15px;
  font-weight: 300;
}

#certs {
  height: inherit;
  max-width: 90%;
  line-height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-inline: auto;
}

/* FIFTH PAGE ELEMENTS */

#about-me-title {
  font-family: Italiana;
  font-size: 56px;
  color: #FFFCE3;
  margin-top: 5vh;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  max-width: 70vw;
  height: 55vh;
  position: relative;
  border-radius: 45px;
  overflow: hidden;
  padding-top: 5%;
  background-color: #a5d2eb;
  border: 8px double #385275;
  overflow: auto;
}

.slider {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.slider::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.slide {
  width: 100%;
  max-width: 430vw;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  background-color: #a5d2eb;
  font-family: 'Raleway';
  color: #585555;
} 

.slide p {
  margin: auto;
  width: 65%;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #ffbf46;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.img-party {
  border-radius: 10px;
  border: solid 3px #fffce3;
  overflow: hidden;
}

.img-party:hover {
  transform:scale(1.5);
}


/* SIXTH PAGE ELEMENTS */

#resume-title {
  font-size: 30px;
  font-family: 'Gambarino';
  letter-spacing: 30px;
  color: #FFFCE3;
  padding-left: 5%;
}

#resume {
  padding-left: 5vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SEVENTH PAGE ELEMENTS */

#seventh h1 {
  font-family: 'Playfair';
  color:#1F642E;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 5px;
  padding-left: 5%;
}

#contactText {
  color: white;
  width: 90vw;
  height: 50vh;
  display: block;
  text-align: center;
  margin-inline: auto;
}

.contacting {
  border-radius: 3px;
  width: 40vw;
  box-shadow: #999999;
  margin: 5px;
  line-height: 25px;
  padding-left: 10px;
  font-family: 'Nanum';
  border: 1px solid #ffbf46;
}

#emailbox { 
  height: 50vh;
}

#submitBtn {
  background-image: url("/public/images/title-bg.png");
  background-size: cover;
  border: #ffffff;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: wavy;
  display: inline-block;
  font-size: 15px;
  border-radius: 30px;
  font-family: 'Raleway';
}

#submitBtn:hover {
  cursor: pointer;
}

#closing {
  text-align: center;
  vertical-align: bottom;
  color:#385275;
  letter-spacing: 5px;
  font-family: 'Nanum';
}

/* FOOTER ELEMENTS */

#foot {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 30px;
}

.footbar {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;      
}

#arrow {
  height: auto;
  width: 50px;
}